# Node.js / npm
node_modules/

# Fichiers de configuration
config.js
.env

# Fichiers de logs
logs/

# Fichiers de génération (ex. build, dist)
dist/
build/

# Fichiers d'éditions d'éditeurs de texte (ex. .vscode, .idea)
.vscode/
.idea/

# Fichiers système (ex. .DS_Store sur macOS)
.DS_Store

# Fichiers de dépendances de gestionnaire de tâches (ex. package-lock.json)
package-lock.json
yarn.lock

